@charset "UTF-8";
/* raleway-700 - latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-ext-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-ext-700.woff") format("woff"), url("../fonts/raleway-v19-latin-ext-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-ext-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-ext_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-regular.woff") format("woff"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-ext_cyrillic-ext-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-500.woff") format("woff"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-ext_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-700.woff") format("woff"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin-ext_cyrillic-ext-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-900.woff") format("woff"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin-ext_cyrillic-ext-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* Базовые стили */
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 10px;
}

img {
  display: block;
}

/* unordered list */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button--primary, .button--hero, .button--subscription, .button--secondary, .button--submit {
  display: inline-block;
  padding: 10px 32px;
  min-width: 73px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.logo-header, .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Main content - Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__header {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}

.logo-header--black {
  color: #000;
}

.logo-footer--white {
  color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-menu__item {
  position: relative;
  color: #2196f3;
}

.nav-menu__item:not(:first-child) {
  margin-left: 50px;
}

.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover, .nav-menu__link:focus {
  color: #2196f3;
}

.nav-menu__link--current {
  color: #2196f3;
}

.nav-menu__link--current::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.button--primary {
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary:hover, .button--primary:focus {
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
}

.button--hero {
  padding: 10px 32px;
}

.button--subscription {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
}

.button--secondary {
  font-weight: 500;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover, .button--secondary:focus {
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
}

.button--submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
}

.social-links--main {
  margin-left: 32px;
  margin-right: 32px;
}

.social-links--footer {
  margin-left: 0;
  margin-right: 93px;
}

.social-links__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links__item:not(:first-child) {
  margin-left: 10px;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links__item-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-links__item-link--main {
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item-link--footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item-link:hover, .social-links__item-link:focus {
  color: #fff;
  background-color: #2196f3;
}

.filters__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.filters__item:not(:first-child) {
  margin-left: 8px;
}

.subscription__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.subscription__field {
  margin-right: 12px;
}

.subscription__input {
  width: 358px;
  padding: 14px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__icon {
  display: inline-block;
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

/* Модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-button:hover, .modal__close-button:focus {
  cursor: pointer;
}

.modal__button-icon {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__button-icon,
.modal__close-button:focus .modal__button-icon {
  fill: #2196f3;
}

.form {
  padding: 40px;
}

.form__header {
  display: inline-block;
  width: 448px;
  height: 23px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__label {
  display: inline-block;
  height: 14px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field--comments {
  margin-bottom: 20px;
}

.form__button {
  text-align: center;
}

.form__input,
.form__textarea {
  padding: 11px 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__input,
.form__field:focus-within > .form__input, .form__field:focus-within >
.form__textarea,
.form__field:focus-within >
.form__textarea {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input {
  padding-left: 40px;
  height: 40px;
}

.form__textarea {
  height: 120px;
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__link {
  text-decoration: none;
  border-bottom: 1px solid #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.page-header {
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  background-color: #fff;
  border-bottom: -1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.page-header__contacts-item:not(:first-child) {
  margin-left: 50px;
}

.page-header__contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.page-header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contacts-link:hover, .page-header__contacts-link:focus {
  color: #2196f3;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__headers {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.page-footer__info {
  margin-right: 70px;
}

.page-footer__contacts {
  width: 231px;
  margin-top: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.page-footer__contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.hero {
  background-color: #2f303a;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__header {
  display: block;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
}

.features__subheader {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.features__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  content: '';
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.services {
  padding-top: 0;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  position: relative;
}

.services__item:not(:first-child) {
  margin-left: 30px;
}

.services__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-members {
  background-color: #f5f4fa;
}

.team-members__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-members__card {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-members__card:not(:first-child) {
  margin-left: 30px;
}

.team-members__info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-members__header {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #212121;
}

.team-members__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  width: calc((100% - 150px) / 6);
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__icon {
  width: 170px;
  height: 90px;
  fill: currentColor;
}

.clients__item-link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item-link:hover, .clients__item-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 34px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.projects__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eee;
}

.projects__card-image {
  width: 100%;
}

.projects__item:nth-child(3n) {
  margin-right: 0px;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects__content {
  padding: 20px 24px;
}

.projects__card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__card-link:hover, .projects__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__card-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__card-thumb::after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__card-link:hover .projects__card-thumb::after,
.projects__card-link:focus .projects__card-thumb::after {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects__card-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__card-link:hover .projects__card-overlay,
.projects__card-link:focus .projects__card-overlay {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 2;
}

.projects__overlay-text {
  display: inline-block;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */