:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --secondary-text-color: #fff;
  --footer-bg-color: #2f303a;
  --primary-btn-color: #212121;
  --secondary-btn-color: #2196f3;
  --border-color: #eee;
  --icon-primary-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

header {
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  background-color: var(--secondary-text-color);
  border-bottom: 1px solid #ececec;
}

footer {
  background-color: var(--footer-bg-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h3.title {
  margin-bottom: 10px;
}

img {
  display: block;
}

/* unordered list */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.container.header {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.logo-start {
  color: var(--secondary-btn-color);
}

.logo-end {
  color: var(--secondary-text-color);
}

/* Nav menu */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-btn-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-btn-color);
}

.site-nav .item {
  position: relative;
  color: var(--secondary-btn-color);
}

.site-nav .link.current {
  color: var(--secondary-btn-color);
}

.site-nav .link.current::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-btn-color);
}

/* Header contacts */
.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .icon-mail,
.header-contacts .icon-tel {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-tel {
  width: 10px;
  height: 16px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--secondary-btn-color);
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-info .contacts {
  margin-right: 70px;
}

.footer-contacts {
  width: 231px;
  margin-top: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
}

/* Home page */
/* Hero Slider */
.hero {
  background-color: var(--footer-bg-color);
}

.hero.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .title {
  display: block;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* Main content */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--title-text-color);
}

/* Особенности */
.feature-list {
  display: flex;
}

.feature-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  content: '';
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-bg-color);
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
}

/* Чем мы занимаемся */
.section.services {
  padding-top: 0;
}

.services-list {
  display: flex;
}

.services-list .item + .item {
  margin-left: 30px;
}

.services-list .item {
  position: relative;
}

.service-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */
.section.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list .title,
.team-list .position {
  font-size: 16px;
  line-height: 19px;
}

.team-list .title {
  font-weight: 500;
  color: var(--title-text-color);
}

.team-list .item {
  background-color: var(--secondary-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .position {
  margin-bottom: 16px;
  font-weight: 400;
}

.team-list .content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* Main - Social links */
.social-links {
  margin-left: 32px;
  margin-right: 32px;
}

.social-links .links-list {
  display: flex;
  justify-content: center;
}

.list-item .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-list .list-item + .list-item {
  margin-left: 10px;
}

.list-item .link:hover,
.list-item .link:focus {
  background-color: var(--secondary-btn-color);
  color: var(--secondary-text-color);
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Footer - Social links */
.footer-links .title,
.subscript .title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer-links {
  margin-left: 0;
  margin-right: 93px;
}

.footer-links .links-list {
  display: flex;
  align-items: center;
  padding: 0;
}

.links-list .footer-item {
  display: flex;
  justify-content: center;
}

.footer-item .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-list .footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-item .link:hover,
.footer-item .link:focus {
  color: var(--secondary-text-color);
  background-color: var(--secondary-btn-color);
}

.footer-links .icon-instagram,
.footer-links .icon-twitter,
.footer-links .icon-facebook,
.footer-links .icon-linkedin {
  display: flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscript-input {
  display: inline-flex;
}

.subscript-field {
  margin-right: 12px;
}

.subscript-field input {
  width: 358px;
  height: 50px;
  padding: 14px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscript-field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscript-input .subscript-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;
}

.subscript-btn .icon-send {
  display: inline-block;
  margin-left: 10px;
  fill: currentColor;
}

/* Постоянные клиенты */
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list .item {
  width: calc((100% - 150px) / 6);
}

.clients-list .client {
  display: block;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  color: var(--icon-primary-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .client:hover,
.clients-list .client:focus {
  border: 1px solid var(--secondary-btn-color);
  color: var(--secondary-btn-color);
}

.clients-list .item + .item {
  margin-left: 30px;
}

.icon-client {
  width: 170px;
  height: 90px;
  fill: currentColor;
}

/* Links, buttons */
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 73px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.button.primary-btn {
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-btn-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary-btn:hover,
.button.primary-btn:focus {
  color: var(--primary-btn-color);
  cursor: pointer;
  background-color: var(--secondary-bg-color);
}

.button.secondary-btn {
  font-weight: 500;
  padding: 6px 22px;
  color: var(--primary-btn-color);
  background-color: var(--secondary-bg-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary-btn:hover,
.button.secondary-btn:focus {
  color: var(--secondary-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--secondary-btn-color);
}

/* Portfolio tab */
/* Фильтры */
.container.filters {
  margin-bottom: 16px;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters .item + .item {
  margin-left: 8px;
}

.container.projects {
  padding-top: 34px;
}

/* Проекты */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects .type {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
}

.projects .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
}

.projects img {
  width: 100%;
}

.projects .item:nth-child(3n) {
  margin-right: 0px;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects .content {
  padding: 20px 24px;
}

.projects .item a {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item a:hover,
.projects .item a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.card-thumb::after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-thumb::after,
.card-link:focus .card-thumb::after {
  opacity: 1;
  transform: translateY(-100%);
}

.card-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  opacity: 1;
  transform: translateY(-100%);
  z-index: 2;
}

.card-overlay .text {
  display: inline-block;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: 500ms all ease;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
}

.icon-cross {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-cross,
.close-btn:focus .icon-cross {
  fill: var(--secondary-btn-color);
}

/* Форма */
.form {
  padding: 40px;
}

.form-title {
  display: inline-block;
  width: 448px;
  height: 23px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field > .form-label {
  display: inline-block;
  height: 14px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field input,
.form-field textarea {
  padding: 11px 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input {
  padding-left: 40px;
  height: 40px;
}

.form-field.comments {
  margin-bottom: 20px;
}

.form-field textarea {
  height: 120px;
  resize: none;
}

.form-field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-btn {
  text-align: center;
}

.submit-btn {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-btn-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .icon {
  fill: var(--secondary-btn-color);
}

.form-field:focus-within > input,
.form-field:focus-within > textarea {
  outline: none;
  border: 1px solid var(--secondary-btn-color);
}

.checkbox-field {
  margin-bottom: 30px;
}

.checkbox-field > .checkbox-label {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.checkbox + .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--secondary-btn-color);
  background-color: var(--secondary-btn-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-link {
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-btn-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-btn-color);
}
