.features__items {
  display: flex;
}

.features__item {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $title-text-color;
}

.features__subheader {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.features__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  content: '';
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $secondary-bg-color;
}

.features__icon {
  width: 70px;
  height: 70px;
}
